* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #f7f1e3;
  background: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #227093;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #34ace0;
}

a:visited {
  color: #34ace0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  background: #111;
  border: 1px solid #b33939;
  color: #f7f1e3;
  margin-bottom: 0;
  border-radius: 4px;
}
button:hover,
button:active,
button:focus {
  background: #b33939;
}

button:disabled {
  opacity: 0.7;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}
